/*This document contains the styles that use the app. You can change these as you wish.*/


h1, h2, h3, h4, h5, h6 {
margin-top: 2rem;
margin-bottom: 2.5rem;
color: #000000
} 

html {
    font-family: sans-serif;
    /*line-height: 1.15;*/
    color:#000000;
    /*-webkit-text-size-adjust: 100%;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

/* navigation */
.sidebar-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16%;
    padding: 2rem 1rem;
    background-color: #000000;
}

.nav-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 40;
    list-style: none;
}

a {
    color: rgb(160, 159, 159);
    width: 100%;
    text-decoration: none;
    background-color: transparent;
  }
  
.nav-link:hover{
    width: 100%;
    font-size: 1rem;
    color: #FFF;
}

.copyright-text{
    font-size: 0.8rem;
    color:rgb(160, 159, 159);
}

.copyright-col{
    right: -10px;
    bottom: -60px;
    width: 100%
}

.copyright-row{
    position: absolute;
}

/* home*/
.home-title{
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -2px;
}

.home-subtitle{
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
    line-break: auto;
}

.home-main{
    width: 100%;
    margin-top: 10px;
    margin-bottom: -20px;
}

/* About us*/
.container-profile{
    /*margin-top: 200px;*/
    margin: 150px 0.05px 150px 150px
    
}

.img-marg{
    border-radius: 125px;
    border: 1px, solid;
    border-color: #FAFAFA;
    background-color: #FAFAFA;
    margin: 10px auto;
    display: block;
}

.H5-margin{
    color: #8190A5;
    margin-top: 20px;
    text-align: center;
}
.P-margin{
    color: #8190A5;
    margin-top: 0px;
    text-align: center;
}

.logo-correo{
    border-radius: 12px;
    margin: 5px 0.05px 5px 0.05px;
}

.correo-marg{
    border-radius: 35px;
    margin: auto auto auto 210px;
}

.correo-marg-d{
    border-radius: 35px;
    margin: auto auto auto 495px;
}

.In-marg{
    border-radius: 25px;
    margin: auto auto auto 20px;
}

/* analytics_orders styles*/
.card-analytics{
    color:#000000;
}

.div-style{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-top: 10px;
    margin-bottom: 10PX;
    padding: 16px 0px 0px 30px;
    box-shadow: 2px 2px 2px lightgrey;
}


.div-style-order{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin: 5px;
    padding: 0px 2px 2px 0px;
    box-shadow: 2px 2px 2px lightgrey;
}

.div-style-kiwer{
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
    background-color: #fafafa;
    margin-top: 5px;
    margin-bottom: 10PX;
    padding: 16px 0px 0px 30px;
    box-shadow: 2px 2px 2px rgb(160, 159, 159);
}

.div-style-radios{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin: 5px;
    padding: 5px 0px 0px 5px;
    box-shadow: 2px 2px 2px lightgrey;
    width: 600px;
}

.div-style-plot{
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
    background-color: #FAFAFA;
    margin: 5px;
    padding: 5px 0px 0px 5px;
    box-shadow: 2px 2px 2px rgb(160, 159, 159);
    width: 100%;
    color: black;
}

.div-row{
    padding: 0px 0px 5px 0px;
}

.layout-text{
    color:#000000;
}

.margin-plot{
    margin-bottom: 10px;
    margin-top: 10px;
 }
 
 .loader-wrapper > div {
    visibility: visible !important;
}